<!--
 * author : 忆云竹 < http://eyunzhu.com/ >
 * e-mail : support@eyunzhu.com
 * github : https://github.com/eyunzhu/vatfs
 * blog   : http://eyunzhu.com
 * QQ群   : 490993740
-->
<!DOCTYPE html>
<html>
		<link rel="shortcut icon" href="static/ysqss.ico" />
<block id="app" v-if="siteInfo.meta">
		<meta charset="utf-8">
		<title>{{siteInfo.siteTile}}-详情页</title>
		<meta name="title" :content="siteInfo.meta.title" />
		<meta name="keywords" :content="siteInfo.meta.keywords" />
		<meta name="description" :content="siteInfo.meta.description" />
		<meta name="author" :content="siteInfo.meta.author" />
		<meta name="copyright" :content="siteInfo.meta.copyright" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="applicable-device" content="pc,mobile">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/open-iconic@1.1.1/font/css/open-iconic-bootstrap.min.css">
		<link rel="stylesheet" href="static/css/video-js.min.css">
		<link rel="stylesheet" href="static/css/style-v.css">
		
		<link rel="stylesheet" href="static/dplayer/DPlayer.min.css">
		<script src="static/dplayer/hls.min.js"></script>
		<script src="static/dplayer/DPlayer.min.js"></script>
		<!--vue.js-->
		<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

	<nav class="navbar navbar-expand-lg navbar-dark shadow-sm rounded nice-nav">
		<div class="container" >
			<a class="navbar-dark logo" href="/" style="color: #000000;">
				<img :src="siteInfo.logo" :alt="siteInfo.siteTile" class="mr-2" >{{siteInfo.siteTile}}</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false" style="color: #000000!important;">更多</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a v-for="(item,index) in siteInfo.link" class="dropdown-item" :href="item.url" target="_blank">{{item.name}}</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
		<div class="container">
			<div>
				<span id="play-title">资源地址载入中，请等待</span>&nbsp;<span id="play-titles">...</span>
			</div>
			<div style="width:100%;position:relative;padding-bottom:56.25%;height: 0;">
				<div id="dplayer" style="position: absolute;top:0;left: 0;width: 100%;height: 100%"></div>
			</div>
			<div class="row" >
				<div class="col-12 py-0" style="padding-top:0 !important">
					<div class="input-group my-1">
						<input id="video-url" required name="play" type="text" class="form-control nice" placeholder="输入 M3U8 URL 地址"
						 value="" aria-describedby="button-addon2">
						<div class="input-group-append">
							<button id="play-url" class="btn btn-dark px-1 play border-0" type="button"><img src="static/play-v.png"
								 height="24"></button>
						</div>
					</div>
				</div>
			</div>
			<marquee v-html="siteInfo.playTips"></marquee>
			<div class="row nice-c">
				<div class="col"><h5>播放列表</h5></div>
			</div>
          <div class="row mb-3">
            <div class="col-12">
              <div id="play-list" class="row mr-0"></div>
            </div>
          </div>
        </div>
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
		<script src="static/js/common.js?1036795373@qq.com"></script>
		<script src="static/js/detail.js?1036795373"></script>
</block>
<script type = "text/javascript">
var t;
new Vue({
	el: '#app',
	data () {
		return {
			siteBaseInfo:{},
			siteInfo:{},
			baiduTop:{},
			liveSource:{},
			kw:'',//搜索关键字
			tips:'',//提示语
			searchResult:[],//搜索结果
			isShowBaiduTop:true,
			isShowLiveSource:true,
		}
	},
	created () {
		t = this;
		t.getSiteBaseInfo();
	},

	methods: {
		//获取基本配置
		getSiteBaseInfo:function(){
			axios.get('http://api.eyunzhu.com/api/vatfs/index/getSiteBaseInfo')
			.then(function(e){
				if(e.data.code == 1){
					t.siteBaseInfo = e.data.data
					t.siteInfo = t.siteBaseInfo.info.setting
				}else{
					console.log('getSiteBaseInfo 获取失败')
				}
			})
			.catch(function (error) { // 请求失败处理
				console.log('getSiteBaseInfo', error);
			});
		},
		
	}
})
</script>
