<!--
 * author : 忆云竹 < http://eyunzhu.com/ >
 * e-mail : support@eyunzhu.com
 * github : https://github.com/eyunzhu/vatfs
 * blog   : http://eyunzhu.com
 * QQ群   : 490993740
-->
<!DOCTYPE html>
<html>
	<link rel="shortcut icon" href="static/ysqss.ico" />
	<block id="app">
		<block v-if="siteInfo.meta">
			<meta charset="utf-8">
			<title>{{siteInfo.siteTile}}</title>
			<meta name="title" :content="siteInfo.meta.title" />
			<meta name="keywords" :content="siteInfo.meta.keywords" />
			<meta name="description" :content="siteInfo.meta.description" />
			<meta name="author" :content="siteInfo.meta.author" />
			<meta name="copyright" :content="siteInfo.meta.copyright" />
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="applicable-device" content="pc,mobile">
			<!--<link rel="shortcut icon" :href="siteInfo.icon" />-->
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
			<link rel="stylesheet" href="static/css/style-v.css?1036w795373">
			<!-- swiper -->
			<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
			<script type="text/javascript" src="https://www.17sucai.com/preview/1/2017-09-25/swiperTab/js/swiper-3.4.0.jquery.min.js"></script>
			<link rel="stylesheet" href="https://www.17sucai.com/preview/1/2017-09-25/swiperTab/css/swiper-3.2.7.min.css" />
			<!--vue.js-->
			<script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
			<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>

			<nav class="navbar navbar-expand-lg navbar-dark shadow-sm rounded nice-nav">
				<div class="container"><a class="navbar-dark logo" href="/" style="color: #000000;">
						<img :src="siteInfo.logo" :alt="siteInfo.siteTile" class="mr-2">{{siteInfo.siteTile}}</a>
					<a href="admin/index.html">登陆</a>
				</div>
			</nav>
			<div class="container">
				<div class="row">
					<div class="col-12 py-3">
						<div class="input-group my-3">
							<input id="input-kw" required name="play" v-model.trim="kw" type="text" class="form-control nice" placeholder="全网影片搜索"
							 value="" aria-describedby="button-addon2">
							<div class="input-group-append">
								<button id="search-bt" v-on:click="doSearch('')" class="btn btn-dark px-1 play border-0" type="button">
									<img src="static/search.png" height="24"></button>
							</div>
						</div>
						<span v-if="searchResult.length" v-html="siteInfo.searchTips"></span>
					</div>
				</div>
				<div v-if="!searchResult.length">
					<h5 style="color:#333">{{siteInfo.siteTile}}
						<span style="color:red">{{tips}}</span>
						<span id="messageHintLink" style="color:#ffc107"></span>
					</h5>
					<div class="row">
						<div class="col" v-html="siteInfo.description"></div>
					</div>
				</div>
				<!--搜索结果-->
				<block class="row mb-3">
					<div v-for="(item,index) in searchResult" class="col-12">
						<div class="nice-c">站点:{{ Number(item.siteId)+1  }}</div>
						<div id="urlblock1" class="row mr-0">
							<div v-for="(items,indexs) in item.data" class="col-md-3 col-12 pr-0 mb-0">
								<a :href="'detail.html?siteId='+item.siteId+'&url='+encodeURIComponent(items.url)" target="_blank">{{items.name}}</a>
							</div>
						</div>
					</div>
				</block>

				<!--电影搜索排行榜-->
				<block v-if='baiduTop.length && isShowBaiduTop'>
					<span style="border-left: 4px solid #993366;padding-left: 5px;">搜索排行榜</span>
					<div class="swiper-container swiper1">
						<div class="swiper-wrapper">
							<div class="swiper-slide" :class="(key==0)?'selected':''" v-for="(item,key) in baiduTop">{{item.name}}</div>
						</div>
					</div>
					<div class="swiper-container swiper2">
						<div class="swiper-wrapper" style="height: 600px;">
							<div v-for="(item,key) in baiduTop" class="swiper-slide swiper-no-swiping" style="width: 290px;">
								<div class="row">
									<div v-for="(items,keys) in item.data" class="col-md-2 col-6" style="white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;overflow:hidden;">
										<span v-on:click="doSearch(keys)" style="color:#007bff;">{{keys}} <span style="color:#336600;">{{items}}</span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</block>
				<!--直播源-->
				<block v-if="liveSource && isShowLiveSource">
					<span style="border-left: 4px solid #993366;padding-left: 5px;">直播源</span>
					<div class="swiper-container swiper11">
						<div class="swiper-wrapper">
							<div class="swiper-slide" :class="(key==0)?'selected':''" v-for="(item,key) in liveSource">{{item.name}}</div>
						</div>
					</div>
					<div class="swiper-container swiper22">
						<div class="swiper-wrapper" style="height: 600px;">
							<div v-for="(item,key) in liveSource" class="swiper-slide swiper-no-swiping" style="width: 290px;">
								<div class="row">
									<div v-for="(items,keys) in item.data" class="col-md-2 col-6" style="white-space:nowrap;word-break:keep-all;text-overflow:ellipsis;overflow:hidden;">
										<a :href="'play.html?url='+items.url">{{items.name}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</block>
				<br />

				<div style="margin-bottom: 10px;font-size: 14px;">
					<a v-for="(item,index) in siteInfo.link" style="color:#FFA500;" :href="item.url" target="_blank">
						{{item.name}}&nbsp;&nbsp;
					</a>
				</div>

			</div>
			<script src="static/js/common.js?1036795373@"></script>
		</block>
		<block v-if="!siteInfo.meta">加载中</block>
	</block>
	<script type="text/javascript">
		var t;
		new Vue({
			el: '#app',
			data() {
				return {
					siteBaseInfo: {},
					siteInfo: {},
					baiduTop: {},
					liveSource: {},
					kw: '', //搜索关键字
					tips: '', //提示语
					searchResult: [], //搜索结果

					isShowBaiduTop: true,
					isShowLiveSource: true,
				}
			},
			created() {
				t = this;
				t.getSiteBaseInfo();

			},

			methods: {
				//获取基本配置
				getSiteBaseInfo: function() {
					axios.get('http://api.eyunzhu.com/api/vatfs/index/getSiteBaseInfo')
						.then(function(e) {
							if (e.data.code == 1) {
								console.log('getSiteBaseInfo', e.data.data)
								//return;
								t.siteBaseInfo = e.data.data
								t.siteInfo = t.siteBaseInfo.info.setting
								console.log('siteBaseInfo', t.siteBaseInfo)
								t.getbaiduTop();
								t.getLiveSource();
							} else {
								console.log('getSiteBaseInfo 获取失败')
							}
						})
						.catch(function(error) { // 请求失败处理
							console.log('getSiteBaseInfo', error);
						});
				},
				//获取搜索排行
				getbaiduTop: function() {
					axios.get(t.siteBaseInfo.api.getBaiduTopApi)
						.then(function(e) {
							if (e.data.code == 1)
								t.baiduTop = e.data.data;
							console.log('baiduTop', t.baiduTop)
							setTimeout(function() {
								onLoadSwiper1()
							}, 10);
						})
						.catch(function(error) { // 请求失败处理
							console.log(error);
						});
				},
				//获取直播源
				getLiveSource: function() {
					axios.get(t.siteBaseInfo.api.getLiveSourceApi)
						.then(function(e) {
							if (e.data.code == 1)
								t.liveSource = e.data.data;
							console.log('liveSource', t.liveSource)
							setTimeout(function() {
								onLoadSwiper11() //加载滑块
							}, 10);
						})
						.catch(function(error) { // 请求失败处理
							console.log(error);
						});
				},
				//执行搜索
				doSearch(keys) {
					if (!keys) {

					} else {
						t.kw = keys
					}

					if (!t.kw) {
						t.tips = '';
						setTimeout(function() {
							t.tips = '请先输入搜索内容';
						}, 100)
						return;
					} else {
						t.tips = '';
						console.log('执行搜索', t.kw)
						t.isShowBaiduTop = false;
						t.isShowLiveSource = false;

						setTimeout(function() {
							t.isShowBaiduTop = true;
							t.isShowLiveSource = true;
						}, 1000)
						t.searchResult = [];
						for (var i = 0; i < t.siteBaseInfo.siteNum; i++) {
							var url = "https://api.eyunzhu.com/plugin/eyunzhu_vatfs_api/api/index?siteId=" + i + "&wd=" + t.kw;
							axios.get(url)
								.then(function(e) {
									if (e.data.code == 1) {
										t.searchResult.push(e.data.data)
										t.searchResult.sort(t.sortData)
									}
									console.log(t.searchResult)
									onLoadSwiper1();
									onLoadSwiper11();
								})
								.catch(function(error) { // 请求失败处理
									console.log(error);
								});
						}
					}

				},
				//排序 搜索结果站点排序
				sortData(a, b) {
					return a.siteId - b.siteId
				},
			}
		})
	</script>
	<script>
		function onLoadSwiper1() {
			function setCurrentSlide(ele, index) {
				$(".swiper1 .swiper-slide").removeClass("selected");
				ele.addClass("selected");
			}

			var swiper1 = new Swiper('.swiper1', {
				slidesPerView: 5.5,
				paginationClickable: true, //此参数设置为true时，点击分页器的指示点分页器会控制Swiper切换。
				spaceBetween: 10, //slide之间的距离（单位px）。
				freeMode: true, //默认为false，普通模式：slide滑动时只滑动一格，并自动贴合wrapper，设置为true则变为free模式，slide会根据惯性滑动且不会贴合。
				loop: false, //是否可循环
				onTab: function(swiper) {
					var n = swiper1.clickedIndex;
				}
			});
			if (swiper1.slides) {
				swiper1.slides.each(function(index, val) {
					var ele = $(this);
					ele.on("click", function() {
						setCurrentSlide(ele, index);
						swiper2.slideTo(index, 500, false);
					});
				});
			}

			var swiper2 = new Swiper('.swiper2', {
				direction: 'horizontal', //Slides的滑动方向，可设置水平(horizontal)或垂直(vertical)。
				loop: false,
				autoHeight: true, //自动高度。设置为true时，wrapper和container会随着当前slide的高度而发生变化。
				onSlideChangeEnd: function(swiper) { //回调函数，swiper从一个slide过渡到另一个slide结束时执行。
					var n = swiper.activeIndex;
					setCurrentSlide($(".swiper1 .swiper-slide").eq(n), n);
					swiper1.slideTo(n, 500, false);
				}
			});
		}

		function onLoadSwiper11() {
			function setCurrentSlide(ele, index) {
				$(".swiper11 .swiper-slide").removeClass("selected");
				ele.addClass("selected");
			}

			var swiper11 = new Swiper('.swiper11', {
				slidesPerView: 5.5,
				paginationClickable: true, //此参数设置为true时，点击分页器的指示点分页器会控制Swiper切换。
				spaceBetween: 10, //slide之间的距离（单位px）。
				freeMode: true, //默认为false，普通模式：slide滑动时只滑动一格，并自动贴合wrapper，设置为true则变为free模式，slide会根据惯性滑动且不会贴合。
				loop: false, //是否可循环
				onTab: function(swiper) {
					var n = swiper11.clickedIndex;
				}
			});
			if (swiper11.slides) {
				swiper11.slides.each(function(index, val) {
					var ele = $(this);
					ele.on("click", function() {
						setCurrentSlide(ele, index);
						swiper22.slideTo(index, 500, false);
					});
				});
			}

			var swiper22 = new Swiper('.swiper22', {
				direction: 'horizontal', //Slides的滑动方向，可设置水平(horizontal)或垂直(vertical)。
				loop: false,
				autoHeight: true, //自动高度。设置为true时，wrapper和container会随着当前slide的高度而发生变化。
				onSlideChangeEnd: function(swiper) { //回调函数，swiper从一个slide过渡到另一个slide结束时执行。
					var n = swiper.activeIndex;
					setCurrentSlide($(".swiper11 .swiper-slide").eq(n), n);
					swiper11.slideTo(n, 500, false);
				}
			});
		}
	</script>
</html>
