.logo img{height:32px;margin-top:-4px}
/* .logo{font-family:fantasy;color:#red!important;} */
/* @media (min-width: 1200px){
    .container{max-width:960px}
}
body{}
.nice{}
.nice-nav{background:#fff!important;}
.nice-a{color:#bacaff!important}
.nice-a:hover{color:#EEE!important}
input.nice:focus{color:#ddd}
.nice-c{color:#bbb}
.h-list{word-break:break-all;max-height:240px;overflow-y:auto}
.play{background-color:#123}
.play:hover{background-color:#012} */